export GO_VERSION="1.16.5"

use_golang() {
    export GVM_PKGSET=$(pwd | sed 's|.*\/||g')
    [[ -s "$GVM_ROOT/scripts/gvm" ]] && source "$GVM_ROOT/scripts/gvm"
    if ! (gvm list | grep -q "$GO_VERSION"); then
        INSTALL_LOG=$(mktemp)
        gvm install go$GO_VERSION -B 2>&1 | tee $INSTALL_LOG
        cat $INSTALL_LOG
        if (cat $INSTALL_LOG | grep -q "ERROR: Binary Go unavailable for this platform"); then
            gvm install go$GO_VERSION
        fi
        rm -rf $INSTALL_LOG 2>/dev/null || true
    fi
    gvm use go$GO_VERSION
    if ! (gvm pkgset list | grep -q "$GVM_PKGSET"); then
        gvm pkgset create $GVM_PKGSET
    fi
    gvm pkgset use $GVM_PKGSET
}

use nix
use_golang
