!vendor/**/zz_generated.*
*.dll
*.dylib
*.exe
*.exe~
*.log
*.out
*.pid
*.pid.lock
*.seed
*.so
*.swo
*.swp
*.test
*.tgz
*~
.cache
.env
.eslintcache
.grunt
.idea
.lock-wscript
.next
.node_repl_history
.npm
.nuxt
.nyc_output
.serverless
.tern-port
.vuepress/dist
.yarn-integrity
/dist
/es
/lib
/bin/**/*
!/bin/*.js
bower_components
build/Release
coverage
jspm_packages/
lib-cov
logs
node_modules/
npm-debug.log*
package-lock.json
pids
pnpm-lock.yaml
testbin/*
tsconfig.tsbuildinfo
typings/
yarn-debug.log*
yarn.lock
